<template>
    <q-page padding class="column justify-center">>
        <div class="container" v-if="this.$route.name == 'cadastro'">         
            <div class="column">
                <q-input 
                    label="Digite um email" 
                    v-model="email"
                    type="email"
                    :rules="[val => validaEmail(val) || 'Por favor, insira um e-mail válido.']">
                </q-input>
                <q-input 
                    label="Digite uma senha" 
                    v-model="senha" 
                    type="password"
                    :rules="[val => val.length >= 6 || 'Sua senha precisa ter, pelo menos, 6 caracteres']">
                </q-input> 
            </div>
            <div class="column q-pt-md">
                <q-btn class="q-mb-sm" color="primary" v-if="!$store.getters.carregandoAuth" icon-right="send" label="Cadastrar" @click="cadastra()"/>
                <q-btn v-if="!$store.getters.carregandoAuth" label="Fazer login" @click="$router.push('/login')"/>
            </div>
        </div>
    </q-page>
</template>

<script>
import firebase from 'firebase';
export default {
    data() {
        return {
            email: '',
            senha: '',
        }
    },
    computed: {
        mensagem() {
            return this.$store.getters.mensagem;
        }
    },    
    methods: {
        validaEmail(email) {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let result = re.test(String(email).toLowerCase()); 
            return result      
        },    
        cadastra() {
            this.$store.commit('carregando', true);
            firebase.auth().createUserWithEmailAndPassword(this.email, this.senha).then(
                user => {
                        this.$store.commit('mensagem',{tipo: 'positive', texto: 'Sua conta foi criada com sucesso!'});
                        this.$router.replace('listagem-series');
                        this.$store.commit('idUsuario', user.user.uid);
                        this.$store.commit('emailUsuario', user.user.email);
                        this.$store.commit('usuarioLogado', true);
                        this.$store.commit('carregando', false);
                    setTimeout(() => {
                        this.$store.commit('mensagem', '');
                        this.$store.commit('carregando', false);
                    }, 2000);
                },
                err => {
                    this.$store.commit('mensagem', {tipo: 'positive', texto: 'Opa! Obtivemos o seguinte erro: ' + err});
                    this.$store.commit('carregando', false);
                    setTimeout(() => {
                        this.$store.commit('mensagem', '');
                    }, 4000);
                }
            )           
        }
    }
}
</script>