<template>
    <q-page padding class="column justify-center">
        <div class="container" v-if="this.$route.name == 'login'">      
            <div class="column">
                <q-input 
                    class="q-mb-sm" 
                    bg-color="secondary" 
                    label="Digite seu email" 
                    v-model="email"
                    type="email"
                    :rules="[val => validaEmail(val) || 'Por favor, insira um e-mail válido.']">
                </q-input>
                <q-input 
                    bg-color="secondary" 
                    label="Digite sua senha" 
                    v-model="senha" 
                    type="password"
                    >
                </q-input> 
            </div>
            <div class="column q-pt-md">
                <q-btn class="q-mb-sm" color="primary" v-if="!$store.getters.carregandoAuth" icon-right="send" label="Fazer login" @click="loga()"/>
                <q-btn v-if="!$store.getters.carregandoAuth" color="secondary" text-color="black" label="Novo usuário" @click="$router.push('/cadastro')"/>
            </div>
        </div>
    </q-page>
</template>

<script>
import firebase from 'firebase';
export default {
    data() {
        return {
            email: '',
            senha: '',
        }
    },
    computed: {
        mensagem() {
            return this.$store.getters.mensagem;
        }
    },
    methods: {
        validaEmail(email) {
            let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            let result = re.test(String(email).toLowerCase()); 
            return result      
        },
        loga() {
            this.$store.commit('mensagem', '');
            this.$store.commit('carregando', true);
            firebase.auth().signInWithEmailAndPassword(this.email, this.senha).then(
                user => {
                        this.$store.commit('idUsuario', user.user.uid);
                        this.$store.commit('emailUsuario', user.user.email);
                        this.$store.commit('usuarioLogado', true);
                        this.$store.commit('carregando', false);
                        this.$router.push('/listagem-series');
                },
                err => {
                    this.$store.commit('mensagem', {tipo: 'positive', texto: 'Opa! Obtivemos o seguinte erro: ' + err});
                    this.$store.commit('carregando', false);
                    setTimeout(() => {
                        this.$store.commit('mensagem', '');
                    }, 4000);
                }
            )
        }
    }
}
</script>