<template>
    <q-page padding class="column justify-center">
        <transition appear enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutRight">
            <div v-if="this.$route.name == 'cadastro-serie'" class="column container" style="margin-bottom: 60px;">  

                <div class="infos q-mb-sm" v-show="etapa == 1">
                    <div class="row-title">
                        <span>
                            <q-icon name="info" style="margin-bottom: 4px;" class="q-mb-sm" /> Informações
                        </span>                            
                    </div>

                    <q-input 
                        label="Digite um nome para sua série" 
                        v-model="nomeSerie"
                        :rules="[val => val.length >= 3 || 'O nome da série precisa ter, pelo menos, 3 caracteres']">                                                          
                    </q-input>

                    <q-input 
                        label="Digite uma descrição" 
                        v-model="descricaoSerie"
                        :rules="[val => val.length >= 3 || 'A descrição da série precisa ter, pelo menos, 3 caracteres']"
                        type="textarea" >
                    </q-input>                        
                </div>

                <div class="exercicios q-mb-md" v-show="etapa == 2">

                    <div class="row-title">
                        <span>
                            <q-icon name="fitness_center" style="margin-bottom: 4px;" class="q-mb-sm" /> Exercícios iniciais
                        </span>                            
                    </div>                         

                    <q-dialog v-model="adicionandoExercicio" full-width>

                        <q-card>
                            <q-card-section>

                                <q-select
                                    label="Digite o nome do exercício" 
                                    v-model="nomeExercicio"
                                    ref="nomeExercicio"
                                    :rules="[val => val.length >= 3 || 'O nome do exercicio precisa ter, pelo menos, 3 caracteres']" 
                                    use-input
                                    hide-selected
                                    fill-input
                                    input-debounce="0"
                                    :options="sugestoesExercicios"
                                    @filter="filterFn"
                                >
                                    <template v-slot:no-option>
                                    <q-item>
                                        <q-item-section class="text-grey">
                                        Sem resultados
                                        </q-item-section>
                                    </q-item>
                                    </template>   
                                </q-select>                             

                                <q-input 
                                    label="Digite a carga do exercício" 
                                    type="number"
                                    v-model="cargaExercicio"
                                    ref="cargaExercicio" 
                                    :rules="[val => !!val || 'Por favor, digite uma carga para o exercício']"
                                    suffix="kg">                       
                                </q-input>

                                <q-input 
                                    label="Digite a quantidade de séries" 
                                    type="number"
                                    v-model="qtdSeriesExercicio"
                                    ref="qtdSeriesExercicio"
                                    :rules="[val => !!val || 'Por favor, digite a quantidade de séries']">                       
                                </q-input>                       

                                <q-input 
                                    label="Digite a quantidade de repetições" 
                                    type="number"
                                    v-model="qtdRepeticoesExercicio"
                                    ref="qtdRepeticoesExercicio"
                                    :rules="[val => !!val || 'Por favor, digite a quantidade de repetições']" >                       
                                </q-input>                              
                            </q-card-section>

                            <q-card-actions align="right">
                                <q-btn label="Adicionar exercício" class="full-width" color="black" icon-right="add" :disable="nomeExercicio.length < 3 || !cargaExercicio.length || !qtdSeriesExercicio.length || !qtdRepeticoesExercicio.length" @click="adicionaExercicio()"></q-btn>    
                            </q-card-actions>
                        </q-card>                                                                                  
                    
                    </q-dialog>                                         

                    <q-btn label="Novo exercício" class="full-width q-mt-md" color="primary" icon-right="add" @click="adicionandoExercicio = true"></q-btn>

                    <div class="lista-exercicios" v-if="exerciciosDoDia.length">
                        <!-- <q-table
                        dense
                        :data="exerciciosDoDia"
                        :columns="[
                            {name: 'nome', field: 'nome', label:'Nome', align:'center'},
                            {name: 'carga', field: 'carga', label:'Carga', align:'center', format: val => `${val} kg`,},
                            {name: 'qtdSeries', field: 'qtdSeries', label:'Qtd. de séries', align:'center'},
                            {name: 'qtdRepeticoes', field: 'qtdRepeticoes', label:'Repetições', align:'center'}
                        ]"
                        row-key="name"
                        hide-bottom
                        class="q-mt-sm"
                        /> -->
                        <q-card v-for="(exercicio, index) in exerciciosDoDia"
                                :key="index"
                                dark bordered 
                                class="text-black q-my-sm" 
                                style="border: 1px solid #ccc" >

                            <q-card-section>
                                <div class="row items-center no-wrap">
                                    <div class="col">
                                        <div class="text-h6"> {{exercicio.nome}}</div>
                                    </div>
                                </div>
                            </q-card-section>

                            <q-separator />

                            <q-card-section>
                                <div class="row">{{`Carga: ${exercicio.carga} kg`}}</div>
                                <div class="row">{{`Quantidade de séries: ${exercicio.qtdSeries}`}}</div>
                                <div class="row">{{`Quantidade de repetições: ${exercicio.qtdRepeticoes}`}}</div>
                            </q-card-section>  
                        </q-card>                        
                    </div>

                </div>

                <div class="row justify-between" v-if="etapa == 1">
                        <q-btn icon="arrow_back" color="white" text-color="black" label="Voltar" @click="$router.push('/listagem-series')"/> 
                        <q-btn :disable="nomeSerie.length < 3 || descricaoSerie.length < 3"  color="primary" icon-right="arrow_forward" label="Avançar" @click="etapa = 2"/>     
                </div>

                <div class="row justify-between" v-if="etapa == 2">

                        <q-btn icon="arrow_back" color="white" text-color="black" label="Voltar" @click="etapa = 1"/>         

                        <q-btn :disable="!exerciciosDoDia.length" color="primary" icon-right="arrow_forward" label="Finalizar" @click="cadastra()"/>                                                             

                </div>
            </div>
        </transition>
    </q-page>
</template>

<script>

import firebase from 'firebase';

import {ModelSeries} from '../../../models/ModelSeries.js'
import {ModelExercicios} from '../../../models/ModelExercicios.js'

export default {
    mixins: [ModelSeries, ModelExercicios],
    created() {
        this.$store.dispatch('exercicios/buscaSugestoes')
    },
    data() {
        return {
            etapa: 1, //1 = informações, 2 = exercicios
            adicionandoExercicio: false,
            exercicioInicialVazio: {
                nome: '',
                carga: '',
                qtdRepeticoes: '',
                qtdSeries: ''
            },     
            sugestoesExercicios: [...this.$store.getters['exercicios/sugestoesExercicios']]       
        }
    },
    computed: {
        mensagem() {
            return this.$store.getters.mensagem;
        },
    },    
    methods: {
        adicionaExercicio() {             
            new Promise(resolve => {
                this.cargaExercicio = this.cargaExercicio
                let exercicios = [...this.exerciciosDoDia]
                exercicios.push({...this.exercicioDoDia})
                this.exerciciosDoDia = exercicios
                this.exercicioDoDia = {...this.exercicioInicialVazio} 
                this.adicionandoExercicio = false;    
                resolve()            
            })
        },
        cadastra() {
            this.$store.dispatch('series/cadastraSerie', this.$router).then( () => {
                this.nomeSerie = '';
                this.descricaoSerie = '';
                this.exerciciosDoDia = [];
            })
        },
        filterFn (val, update, abort) {
            update(() => {
                const needle = val.toLowerCase()
                this.sugestoesExercicios = this.$store.getters['exercicios/sugestoesExercicios'].filter(v => v.toLowerCase().indexOf(needle) > -1)
        })
        }        
    }
}
</script>
