<template>
    <q-page padding class="column">
        <div v-if="series.length" style="margin-bottom: 60px;">
            <div v-for="serie in series" 
                :key="serie.id"
                @click="redirecionaParaExercicios(serie.id)">
                <q-card dark bordered 
                        class="text-black q-my-sm" 
                        style="border: 1px solid #ccc" 
                        >
                        <div>
                            <q-card-section>
                                <div class="row items-center no-wrap">
                                    <div class="col">
                                        <div class="text-h6"> {{serie.nomeSerie}} <q-icon name="arrow_forward" style="margin-bottom: 3px;" /></div>
                                    </div>
                                </div>
                            </q-card-section>

                            <q-separator />

                            <q-card-section>
                                {{serie.descricaoSerie}}
                            </q-card-section>                
                        </div>
                </q-card>                
            </div>
        </div>

        <div v-else>
            <q-card dark bordered 
                    class="text-black q-my-sm" 
                    style="border: 1px solid #ccc" >

                    <q-card-section class="text-center">
                        <span class="info-vazio"> Não há nenhuma série registrada. </span>
                    </q-card-section>
            </q-card>
        </div>

        <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-btn rounded icon="add" color="primary" text-color="white" @click="$router.push('cadastro-serie')">Adicionar série</q-btn>
        </q-page-sticky>        
    </q-page>
    
</template>

<script>
export default {
    created() {
        this.$store.dispatch('series/listaSeries')
    },
    computed: {
        series: {
            get() {
                return this.$store.getters[`series/series`]
            },
            set(serie) {
                this.$store.commit('series/series', serie)
            }            
        }
    },
    methods: {
        redirecionaParaExercicios(idSerie) {
            this.$store.commit('series/idSerieSelecionada', idSerie)
            this.$router.push('listagem-exercicios')
        }
    }
}
</script>

<style>

.info-vazio {
    font-size: 15px;
}

</style>