// app global css
.container {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.3);
}

.row-title {
    background-color: #027be3;
    margin: -11px;
    padding: 12px;
    color: #fff;
    margin-bottom: 1px;
    font-size: 20px;    
}

.after-ad {
    position: static;
    bottom: 20;
}