<template>

    <q-page padding class="column justify-center">

        <div class="column container" style="margin-bottom: 60px;">

            <div class="exercicios q-mb-md">

                <div class="row-title">
                    <span>
                        <q-icon name="fitness_center" style="margin-bottom: 4px;" class="q-mb-sm" /> Evolução de Série
                    </span>                            
                </div>             

                <div v-for="exercicio in exerciciosDoDia" :key="exercicio.__index" >

                    <h5 class="q-my-md">
                        {{exercicio.nome}}
                    </h5>

                    <q-input 
                        label="Digite a carga do exercício" 
                        v-model="exercicio.carga" 
                        type="number"
                        :rules="[val => validaCampoRequerido(val) || 'Por favor, digite uma carga para o exercício']"
                        suffix="kg">                       
                    </q-input>

                    <q-input 
                        label="Digite a quantidade de séries" 
                        type="number"
                        v-model="exercicio.qtdSeries"
                        :rules="[val => validaCampoRequerido(val) || 'Por favor, digite a quantidade de séries']">  >                       
                    </q-input>                       

                    <q-input 
                        label="Digite a quantidade de repetições" 
                        type="number"
                        v-model="exercicio.qtdRepeticoes"
                        :rules="[val => validaCampoRequerido(val) || 'Por favor, digite a quantidade de repetições']"  >                       
                    </q-input>               

                </div>                                          

                <div class="row justify-between q-mt-sm">

                    <q-btn color="white" text-color="black" label="Voltar" icon="arrow_back" @click="$router.push('/listagem-series')"/>                                  
                    <q-btn :disable="!validacaoOk" color="primary" icon-right="arrow_forward" label="Registrar" @click="cadastra()"/>                              
                </div>        

            </div>

        </div>

    </q-page>
    
</template>

<script>

import firebase from 'firebase';

import { ModelExercicios } from '../../../models/ModelExercicios.js'

export default {
    mixins: ModelExercicios,
    created() {
        this.$store.dispatch('exercicios/listaExerciciosPorDia').then( () => {
            this.exerciciosDoDia = this.$store.getters['exercicios/exerciciosPorDia'][0]['exerciciosDoDia']
        })
    },    
    data() {
        return {
            exerciciosDoDia: {},
            validacaoOk: true,
        }
    },
    computed: {
        mensagem() {
            return this.$store.getters.mensagem;
        },
    },    
    methods: {
        cadastra() {
            let exerciciosFormatados = this.exerciciosDoDia
            for(let key in exerciciosFormatados) {
                delete exerciciosFormatados[key].__index
            }
            this.$store.dispatch('exercicios/cadastraExerciciosDoDia', [this.$router, this.$store.getters['series/idSerieSelecionada'], exerciciosFormatados])
        },
        validaCampoRequerido(val) {
            if(!!val){
                this.validacaoOk = true
                return true
            } else {
                this.validacaoOk = false
                return false
            }
        }
    }
}

</script>
