<template>
    <q-page padding class="column">
        <div v-if="exerciciosPorDia.length" style="background-color: white; margin-bottom: 60px;">
            <div v-for="(exercicios, index) in exerciciosPorDia" 
                :key="index">
                    <q-expansion-item
                        expand-separator
                        header-class="cabecalho-exp"
                    >
                        <template v-slot:header>

                            <q-item-section>
                                {{exercicios.data}}
                            </q-item-section>

                            <q-item-section side>
                                <span v-if="exercicios.origem">
                                    Início
                                </span>                                
                                <span v-if="exercicios.aumentos.carga">
                                    Carga <q-icon color="green" name="arrow_upward" />
                                </span>
                                <span v-if="exercicios.aumentos.qtdSeries">
                                    Séries <q-icon color="green" name="arrow_upward" />
                                </span>
                                <span v-if="exercicios.aumentos.qtdRepeticoes">
                                    Repetições <q-icon color="green" name="arrow_upward" />
                                </span>
                                <span v-if="exercicios.diminuicoes.carga">
                                    Carga <q-icon color="red" name="arrow_downward" />
                                </span>
                                <span v-if="exercicios.diminuicoes.qtdSeries">
                                    Séries <q-icon color="red" name="arrow_downward" />
                                </span>
                                <span v-if="exercicios.diminuicoes.qtdRepeticoes">
                                    Repetições <q-icon color="red" name="arrow_downward" />
                                </span>
                            </q-item-section>                            
                        </template>        

                        <q-card dark bordered 
                                class="text-black q-ma-sm" 
                                style="border: 1px solid #ccc" 
                                v-for="(exercicio, index) in exercicios.exerciciosDoDia" :key="index"
                                >
                                <q-card-section :class="exercicio.carga.classe || exercicio.qtdSeries.classe  || exercicio.qtdRepeticoes.classe ? 'bg-lime-2' : ''">
                                    <strong>{{exercicio.nome}} </strong>
                                </q-card-section>
                                <q-separator />
                                <q-card-section>
                                    <div class="row">
                                        <div class="col">
                                            <p>Carga: {{exercicio.carga.valor}} kg 
                                                <span :class="exercicio.carga.classe">{{exercicio.carga.diferenca}}</span>
                                            </p>
                                            <p>Quantidade de Séries: {{exercicio.qtdSeries.valor}}
                                                <span :class="exercicio.qtdSeries.classe">{{exercicio.qtdSeries.diferenca}}</span>
                                            </p>
                                            <p>Quantidade de repetições: {{exercicio.qtdRepeticoes.valor}} 
                                                <span :class="exercicio.qtdRepeticoes.classe">{{exercicio.qtdRepeticoes.diferenca}}</span>                            
                                            </p>
                                        </div>
                                    </div>
                                </q-card-section>
                        </q-card>
                    </q-expansion-item>              
            </div>
        </div>

        <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-btn rounded icon="add" color="primary" text-color="white" @click="$router.push('cadastro-exercicio')">Nova evolução</q-btn>
        </q-page-sticky>         
    </q-page>
    
</template>

<script>

import {ModelExercicios} from '../../../models/ModelExercicios.js'

export default {
    mixins: [ModelExercicios],
    created() {
        this.$store.dispatch('exercicios/listaExerciciosPorDia')
    },
    data() {
        return {
            exercicioInicialVazio: {
                nome: '',
                carga: '',
                qtdRepeticoes: '',
                qtdSeries: ''
            },               
        }
    },
    computed: {
        exerciciosPorDia: {
            get() {
                let exerciciosPorDia = this.$store.getters[`exercicios/exerciciosPorDia`]
                exerciciosPorDia.forEach( (diaRegistrado, index) => {
                    (index+1) == exerciciosPorDia.length ? diaRegistrado['origem'] = true : diaRegistrado['origem'] = false
                    diaRegistrado['aumentos'] = {
                        carga: false,
                        qtdRepeticoes: false,
                        qtdSeries: false,
                    }
                    diaRegistrado['diminuicoes'] = {
                        carga: false,
                        qtdRepeticoes: false,
                        qtdSeries: false,
                    }                     
                    if((index+1) == exerciciosPorDia.length) { //se for o primeiro dia registrado
                        diaRegistrado['origem'] = true      
                        diaRegistrado.exerciciosDoDia.forEach(propriedades => {
                                for (let key in propriedades) {     
                                    if( key!='nome')   {
                                        propriedades[key] = 
                                        {
                                            valor: propriedades[key],
                                            diferenca: null,
                                            classe: null,
                                        }
                                    }
                                }     
                        })

                    } else {
                        diaRegistrado['origem'] = false                       
                        let serieAntiga = exerciciosPorDia[index + 1].exerciciosDoDia
                        let serieAtual = exerciciosPorDia[index].exerciciosDoDia
                        serieAntiga.forEach( (exercicio, indexExercicio) => { //para cada EXERCICIO da série antiga...
                            for (let key in exercicio) { //para cada propriedade do exercicio da série antiga... (carga, etc)
                                let propAntiga = Number(serieAntiga[indexExercicio][key])
                                let propNova = Number(serieAtual[indexExercicio][key])
                                let propFormatada = {
                                    valor: propNova,
                                    diferenca: null,
                                    classe: null,
                                }
                                if( ( propAntiga < propNova ) && (key!='nome') )   {
                                    propFormatada.valor = propNova
                                    propFormatada.diferenca = `(+${propNova - propAntiga})`
                                    propFormatada.classe = 'maior'
                                    diaRegistrado.aumentos[key] = true
                                    serieAtual[indexExercicio][key] = propFormatada
                                } else if ( (propNova == propAntiga) && (key!='nome') ) {
                                    propFormatada.valor = propNova
                                    propFormatada.diferenca = null
                                    propFormatada.classe = null
                                    serieAtual[indexExercicio][key] = propFormatada
                                } else if ( (propAntiga > propNova) && (key!='nome') ) {
                                    propFormatada.valor = propNova                              
                                    propFormatada.diferenca = `(${propNova - propAntiga})`
                                    propFormatada.classe = 'menor'
                                    diaRegistrado.diminuicoes[key] = true
                                    serieAtual[indexExercicio][key] = propFormatada
                                }    
                            }                         
                        })                           
                    }                     
                    try {
                        return diaRegistrado.data = `${diaRegistrado.data.toDate().toLocaleDateString()} às ${diaRegistrado.data.toDate().toLocaleTimeString()}`
                    } catch (error) {
                        return diaRegistrado
                    }
                } )
                return exerciciosPorDia
            },
            set(exerciciosPorDia) {
                this.$store.commit('exercicios/exerciciosPorDia', exerciciosPorDia)
            }            
        }
    },
    methods: {
        adicionaExercicio() {
            this.cargaExercicio = this.cargaExercicio + " kg"
            let exercicios = [...this.exerciciosDoDia]
            exercicios.push({...this.exercicioDoDia})
            this.exerciciosDoDia = exercicios
            this.exercicioDoDia = {...this.exercicioInicialVazio}
        },
        cadastra() {
            this.$store.dispatch('exercicios/cadastraSerie', this.$router)
        }
    }    
}
</script>

<style>

.cabecalho-exp {
    border: 1px solid #ccc;
}

.info-vazio {
    font-size: 15px;
}

.menor {
    color: rgb(168, 11, 11);
    font-weight: bold;
}

.maior {
    color: rgb(12, 110, 12);
    font-weight: bold;
}

</style>