<template>
  <div id="q-app" class="column main-content">
    <router-view />
  </div>
</template>

<script>
const fb = require('./firebaseConfig.js')
export default {
  name: 'App'
}
</script>

<style>
.main-content {
    background-image: url('statics/img/mobile-dumbbel.png');
    background-size: cover;
}
</style>
