<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="tertiary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          v-if="$store.getters.usuarioLogado"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          GrowUp! <q-icon name="fitness_center" />
        </q-toolbar-title>

        <!-- <div>Acompanhe sua evolução!</div> -->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-if="$store.getters.usuarioLogado"
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header><q-icon name="account_circle" class="text-h4 q-mr-md" />  {{emailUsuario}} </q-item-label>
        <q-item clickable tag="a" @click.native="navega('/listagem-series')">
          <q-item-section avatar>
            <q-icon name="view_list" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Séries</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" @click.native="desloga()" class="drawer-footer">
          <q-item-section avatar>
            <q-icon name="arrow_back" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Sair</q-item-label>
          </q-item-section>
        </q-item>        
      </q-list>
    </q-drawer>

    <q-page-container>
      <transition appear enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutRight">
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL, Platform } from 'quasar'
import firebase from 'firebase';

import { initAd, showBannerFunc, showInterstitialFunc } from '../AdMob'

export default {
  name: 'MyLayout',
  mounted() {
    initAd();
    showBannerFunc();
    // showInterstitialFunc();    
  },
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL,
    navega(path) {
        this.$router.push(path);
    },    
    desloga() {
      this.$store.commit('carregando', true)
      firebase.auth().signOut().then(() => {
        this.$router.push('/login');
        this.$store.commit('emailUsuario', '')
        this.$store.commit('idUsuario', '')
        this.$store.commit('carregando', false)
      })      
    }
  },
  computed: {
    carregando() {
      return this.$store.getters.carregando       
    },
    mensagem() {
      return this.$store.getters.mensagem
    },
    emailUsuario() {
      return this.$store.getters.emailUsuario
    }          
  },  
  watch: {
    carregando() {
      if(this.carregando) {
        this.$q.loading.show({
          delay: 400 // ms
        })            
      } else {
        this.$q.loading.hide()        
      }       
    },
    mensagem() {
      if(this.mensagem) {
        this.$q.notify({  
          message: this.mensagem.texto,    
          timeout: 3000,
          color: this.mensagem.tipo || 'positive',
        })        
      }
    }    
  }  
}
</script>

<style>
.drawer-footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;
}
</style>
